{% load get_user %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Music App</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div id="box">
      <header>
        <nav>
          <img src="{% static 'images/headphones.png' %}" alt="headphones" />
          <a href="{% url 'home' %}">Home</a>
            <ul></ul>
        {% get_user as profile %}
        {% if profile %}
          <ul>
            <li><a href="{% url 'album-add' %}">Create Album</a></li>
            <li><a href="{% url 'profile-details' %}">Profile</a></li>
          </ul>
        {% endif %}
        </nav>
      </header>


        {% block content %}
        {% endblock %}

    
      <footer>
        <div>&copy; SoftUni Team 2024. All rights reserved.</div>
      </footer>
    </div>
  </body>
</html>